/* CSS Reset */
* {
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior:smooth;
}
/* CSS Variables */
:root {
    --navbar-height: 60px;
}

/* Navigation bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

/* Navigation bar: Logo & image */
#logo {
    margin: 10px 20px;
}

#logo img {
    height: 75px;
    margin: 4px 10px;
}

/* Navigation Bar:List Styling */

#navbar ul {
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}

#navbar ul li {

    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: aliceblue;
    display: block;
    padding: 4px 20px;
    border-radius: 15px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home section */
#home {
    display: flex;
    flex-direction: column;
    padding: 2px 200px;
    height: 365px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('../bg2.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 473px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

#home p {
    color: bisque;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
}

/* Services section  */
#services{
    margin: 5px;
    display: flex;
    padding: 5px 5px;
}
#services .box{
    border: 2px solid brown;
    padding: 5px 40px;
    margin: 10px 40px;
    border-radius: 23px;
    background-color: #f2efef;
    margin-bottom: 20px;
}
#services .box img{
    height: 125px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}

/* Clients Section */
#client-section{
    position: relative;
    
}
#client-section::before{
    content:"";
    position: absolute;
    background:url('../bg.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 15px;
}
#clients img{
    height: 70px;
}

/* Contact section */
#contact{
    position: relative;
}
#contact::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 45%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}



footer{
    background: black;
    color: whitesmoke;
    padding: 10px 20px;
}


/* Utility classes */
.primary {
    font-size: 2.1rem;
    padding: 10px;
    font-family: 'Bree Serif', serif;
}

.h-secondary {
    font-size: 1.4rem;
    padding: 5px;
    font-family: 'Bree Serif', serif;
}

.btn {
    padding: 5px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}